src/page.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE schema SYSTEM "XMLSchema.dtd" >

<!--
  Semantic JDHP Schema v1.0
  Copyright (c) 2011 Jérémie DECOCK (http://www.jdhp.org)
  All rights reserved.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Types declaration -->
	<xs:simpleType name="langType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="en" />
			<xs:enumeration value="fr" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="licenseType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Apache v2.0" />
			<xs:enumeration value="BSD" />
			<xs:enumeration value="cc-by-sa" />
			<xs:enumeration value="CeCILL" />
			<xs:enumeration value="GPLv2" />
			<xs:enumeration value="GPLv3" />
			<xs:enumeration value="LGPLv2.1" />
			<xs:enumeration value="LGPLv3" />
			<xs:enumeration value="MIT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="debianType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="all" />
			<xs:enumeration value="any" />
			<xs:enumeration value="source" />

            <xs:enumeration value="armel" />
            <xs:enumeration value="alpha" />
            <xs:enumeration value="amd64" />
            <xs:enumeration value="armeb" />
            <xs:enumeration value="arm" />
            <xs:enumeration value="hppa" />
            <xs:enumeration value="i386" />
            <xs:enumeration value="ia64" />
            <xs:enumeration value="lpia" />
            <xs:enumeration value="m32r" />
            <xs:enumeration value="m68k" />
            <xs:enumeration value="mips" />
            <xs:enumeration value="mipsel" />
            <xs:enumeration value="powerpc" />
            <xs:enumeration value="ppc64" />
            <xs:enumeration value="s390" />
            <xs:enumeration value="s390x" />
            <xs:enumeration value="sh3" />
            <xs:enumeration value="sh3eb" />
            <xs:enumeration value="sh4" />
            <xs:enumeration value="sh4eb" />
            <xs:enumeration value="sparc" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="rpmType">
		<xs:restriction base="xs:string">
            <xs:enumeration value="source" />
            <xs:enumeration value="noarch" />

            <xs:enumeration value="i386" />
            <xs:enumeration value="x86_64" />
		</xs:restriction>
	</xs:simpleType>

	<!-- ###################### ELEMENTS DECLARATION ###################### -->

	<xs:element name="page">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"  minOccurs="2" maxOccurs="2" />       <!-- TODO : exactement 1 obligatoire pour chaque langue -->
				<xs:element ref="keywords"  minOccurs="0" maxOccurs="2" />   <!-- TODO : maximum 1 pour chaque langue -->
				<xs:element ref="desc"  minOccurs="0" maxOccurs="2" />       <!-- TODO : maximum 1 pour chaque langue -->
				<xs:element ref="note"  minOccurs="0" maxOccurs="2" />       <!-- TODO : maximum 1 pour chaque langue -->
				<xs:element ref="group" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
        <xs:key name="group-id-key">
            <xs:selector xpath="group" />
            <xs:field xpath="group/@id" />
        </xs:key>
        <xs:unique name="page-name-uniqueness">
            <xs:selector xpath="name" />
            <xs:field xpath="name/@lang" />
        </xs:unique>
        <xs:unique name="page-keywords-uniqueness">
            <xs:selector xpath="keywords" />
            <xs:field xpath="keywords/@lang" />
        </xs:unique>
        <xs:unique name="page-desc-uniqueness">
            <xs:selector xpath="desc" />
            <xs:field xpath="desc/@lang" />
        </xs:unique>
        <xs:unique name="page-note-uniqueness">
            <xs:selector xpath="note" />
            <xs:field xpath="note/@lang" />
        </xs:unique>
	</xs:element>

	<xs:element name="group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="label" minOccurs="0" maxOccurs="2" />        <!-- TODO : maximum 1 pour chaque langue -->
				<xs:element ref="item" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
        <xs:key name="item-id-key">
            <xs:selector xpath="item" />
            <xs:field xpath="item/@id" />
        </xs:key>
        <xs:unique name="group-name-uniqueness">
            <xs:selector xpath="name" />
            <xs:field xpath="name/@lang" />
        </xs:unique>
	</xs:element>

	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="label" minOccurs="0" maxOccurs="2" />        <!-- TODO : maximum 1 pour chaque langue -->
				<xs:element ref="desc" minOccurs="0" maxOccurs="2" />         <!-- TODO : maximum 1 pour chaque langue -->

				<xs:element ref="debian_package" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="rpm_package"    minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="tarball"        minOccurs="0" maxOccurs="unbounded" />

				<xs:element ref="pdf"     minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="manpage" minOccurs="0" maxOccurs="unbounded" />

				<xs:element ref="git_repository" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="svn_repository" minOccurs="0" maxOccurs="unbounded" />

				<xs:element ref="picture" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="video"   minOccurs="0" maxOccurs="unbounded" />

				<xs:element ref="link"    minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required" />
			<xs:attribute name="license" type="licenseType" use="required" />
		</xs:complexType>
        <xs:unique name="item-name-uniqueness">
            <xs:selector xpath="name" />
            <xs:field xpath="name/@lang" />
        </xs:unique>
        <xs:unique name="item-desc-uniqueness">
            <xs:selector xpath="desc" />
            <xs:field xpath="desc/@lang" />
        </xs:unique>
	</xs:element>

	<xs:element name="name"> <!-- TODO : exactement 1 obligatoire pour chaque langue -->
		<xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="lang" type="langType" use="required" />
                </xs:extension>
            </xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="keywords"> <!-- TODO : maximum 1 pour chaque langue -->
		<xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="lang" type="langType" use="required" />
                </xs:extension>
            </xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="desc"> <!-- TODO : maximum 1 pour chaque langue -->
		<xs:complexType mixed="true">
            <xs:sequence>
                <!-- <xs:any namespace="http://www.w3.org/1999/xhtml" minOccurs="1" maxOccurs="unbounded" processContents="skip"/> -->
                <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
            </xs:sequence>
			<xs:attribute name="lang" type="langType" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="note"> <!-- TODO : maximum 1 pour chaque langue -->
		<xs:complexType mixed="true">
            <xs:sequence>
                <!-- <xs:any namespace="http://www.w3.org/1999/xhtml" minOccurs="1" maxOccurs="unbounded" processContents="skip"/> -->
                <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
            </xs:sequence>
			<xs:attribute name="lang" type="langType" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="label">
		<xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="lang" type="langType" use="required" />
                </xs:extension>
            </xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="debian_package">
		<xs:complexType>
			<xs:attribute name="filename" type="xs:string" use="required" />
			<xs:attribute name="arch" type="debianType" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="rpm_package">
		<xs:complexType>
			<xs:attribute name="filename" type="xs:string" use="required" />
			<xs:attribute name="arch" type="rpmType" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="tarball">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="label"  minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="filename" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="pdf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="label"  minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="filename" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="manpage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="label"  minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="filename" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="git_repository">
		<xs:complexType>
			<xs:attribute name="url"    type="xs:anyURI" use="required" />
			<xs:attribute name="weburl" type="xs:anyURI" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="svn_repository">
		<xs:complexType>
			<xs:attribute name="url"    type="xs:anyURI" use="required" />
			<xs:attribute name="weburl" type="xs:anyURI" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="picture">
		<xs:complexType>
			<xs:attribute name="filename" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="video">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="link" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="filename" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="link">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="label" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="url" type="xs:anyURI" use="required" />
		</xs:complexType>
	</xs:element>

</xs:schema>
